// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "compass/css3/border-radius";

/* Common */

body {
  font-family: $font-family-sans-serif;
}

img {
  max-width: 100%;
  width:auto;
  height: auto;
}

#header, #content {
  margin-bottom: 2em;
}

#info {
  border-top:1px solid $brand-primary;
  padding: 1em 0;
}

h1, h2 {
  text-align: center;
  a {
    color:$link-hover-color;
    &:hover, &:focus {
      color:$link-color;
      text-decoration: none;
    }
  }
}

/* ~Common */

/* Header */
#name-and-slogan {
  text-align: center;
}

#site-name {
  font-size: 2em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;

  a {
    color:$link-hover-color;
    &:hover, &:focus {
      color:$link-color;
      text-decoration: none;
    }
  }
}

#site-slogan {
  text-align: center;
  h2 {
    font-size: 1em;
  }
}

#language-switcher {
  margin-top:30px;
  text-align: center;

  a {
    border:1px solid $link-color;
    padding:0.5em;
    @include border-radius(50%);
    &:hover {
      color:#fff;
      background-color:$link-color;
      text-decoration: none;
    }
  }
}

/* ~Header */

/* Forms */

input[type='submit'] {
  background-color: $link-color;
  max-width: 300px;
}

input,
textarea,
select {
  width: 100%;
  height: 6rem;
  padding: 1rem 1.5rem;
  background: #ffffff;
  @include border-radius(5px);
  font-size: 1.6rem;
  color: #555555;
  border: 1px solid #ccc;
}

input[type='checkbox'] {
  width: auto;
  height: auto;
}

textarea {
  height: auto;
}

input[type='text'], input[type='password'], textarea {
  border: 1px solid #ccc;
}

select {
  cursor: pointer;
  line-height: 5.6rem;
  padding: 1.7rem 1.5rem;
  -webkit-appearance: menulist-button;
}

input[type='submit'] {
  height: 6rem;
  font-size: 2.5rem;
  color: #ffffff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
}

input[type='submit']:hover {
  opacity: 0.9;
}

input[type='submit']:active {
  border-bottom: 1px solid $brand-danger;
}

/* ~Forms */

/* Content and fields. */
.node {
  margin-bottom:2em;
}

.submitted {
  padding: 1em 0;
  text-align: center;
}

.content .field-type-taxonomy-term-reference {
  padding: 0 0 1em;
}

.content .field-type-taxonomy-term-reference .field-item {
  display:inline-block;
  margin-right:1em;
  padding:0.4em;
  background-color: #eee;
}

.content img {
  @include border-radius(5px);
  &.center {
    margin: 0 auto;
    display: block;
  }
}

ul.pager {
  margin-top: 2em;
  .pager-current {
    display: none;
  }
  .pager-next {
    float:right;
  }
  .pager-previous {
    float:left;
    margin-left: 0;
  }
}

ul.pager .pager-next a,
ul.pager .pager-previous a {
  border:1px solid $link-color;
  padding:0.5em;
}

ul.pager .pager-next a:hover,
ul.pager .pager-previous a:hover {
  color:#fff;
  background-color:$link-color;
  text-decoration: none;
}

.b-share_theme_counter {
  padding-top: 1em;
  padding-bottom: 1em;
}

.b-share_theme_counter .b-share-btn__wrap {
  padding-right:5px;
}

.above_node_content, .below_node_content {
  padding: 1em 0;
}

/* ~Content and fields. */
